.leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
}
/* .leaflet-routing-alt {
    display: none !important;
} */
.default-map {
    display: block;
}
:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
.leaflet-routing-container {
    border: none !important;
    background: #FFFDD0 !important;
}
@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}