* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: Sans-Serif;
    text-align: center;
    font-size: 13px;
  }

.leaflet-top{ display: contents; } 

.logo{
    padding: 2px;
    padding-right: 20px;
}

.menu{
    font-size: 14px;
    font-weight: bold;
}

.menuItem{
    padding: 8px;
    margin: 5px;
}
    
.active {
    color: white !important;
    background-color: #009A7D;
    border-radius: 5px;
}

.searchBox{
    height: 30px !important;
    font-size: 12px;
}

.actionButton{
    margin: 0px;
    font-size: 11px !important;
    width: 80px;
    height: 32px;
}

.actionButtonGroup{
    text-align: center;
    margin: 5px;
    padding: 3px;
}

.sidebar-nav{
    margin-bottom: 0px !important;
}

.navLeft{
    margin: 0px;
    padding: 2px !important;
    text-decoration: none;
    font-size: 12px !important;
    color: #969696;
}

.popupContent{
    padding:5px;
    border:1px solid #ced4da;
    border-radius:5px;
}

.popupHeader{
    padding:10px;
    background-color:#007bff;
    color:white
}